.MobilePics {
  background: green;
  display: flex;
  flex-direction: column;
}

.Samsung,
.Iphone,
.Huawei {
  width: 8rem;
  height: 9rem;
}

.BackButton {
  width: 4rem;
  height: 3rem;
  text-align: center;
  margin: auto;
}
